# =========================
# Java
# =========================

*.class
target/
bin/
out/

# =========================
# Eclipse
# =========================

.classpath
.project
.settings/

# =========================
# IntelliJ IDEA
# =========================

.idea/
*.iml

# =========================
# VS Code
# =========================

.vscode/

# =========================
# Variáveis de ambiente
# =========================

.env
.env.*

# =========================
# Logs
# =========================

*.log

# =========================
# Windows
# =========================

Thumbs.db
Desktop.ini

# =========================
# macOS
# =========================

.DS_Store